@font-face {
    font-family: 'Arkana';
    src: url('images/Vasek/Vasek\ Italic_0.ttf');
}

*{margin: 0; padding: 0; color: #4D2D1E;}
body{background-color: #4D2D1E;
    background-image: url('images/bg-big.jpeg');
    background-attachment: fixed;
    background-size: auto 100%;}

#main_container{
    
    background-image: url('images/blur.png');
    background-size: 100% 100%;
    height: 100vh;
    width: 70vw;
    margin:auto;
    opacity: 95%;
}
header{
    position: relative;
    top: 20%;
    left: 20%;
    width: 60%;
    padding-bottom: 1vh;
    border-bottom: 2px solid #4D2D1E;
    
}

#navbar{
    display: flex;
}

#navbar li{
    display: inline-block;
    font-size: 1.5em;
    margin-left: 1.4vw;
}
#navbar a{
    font-family: 'Arkana';
    text-decoration: none;
    font-size: 5vh;
    font-weight: 400;
}
#navbar a:hover{
    text-decoration: underline;
}
article{
    position: relative;
    top:23%;
    left:20%;
    width: 60%;
    height: 55%;
    text-align: center;
    overflow: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
article::-webkit-scrollbar{display: hidden;}
.slide{
    height: 55vh;
}
.page{
    display: flex;
    align-content: center;
    height: 50vh;
}
.text{
    width:48%;
    padding: 0 1.5vw;
    font-family: monospace;
    font-size: 1.6vh;
    align-content: center;
    text-align: justify;
}
.text p{
    margin-bottom: 2vh;
}
.text p::first-letter{
    margin-left: 1vw;
}
.text li{
    margin-left: 1.5vw;
}
.first_p{
    font-size: 1.8vh;
}
.image{
    width: 40%;
    margin-left: 3vw;
    margin-top: 5vh;
}
.image img{
    transition: all 1s ease;
    width: 14vw;
}
.image img:hover{
    transform: rotate(5deg) scale(1.1);
    transition: all 1s ease;
}

@media only screen and (max-width: 1260px){
    #main_container{background: #fff;
    border-radius: 5vh;
    opacity: 90%;
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
   }
   header{
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
   }
   article{
    position: relative;
    top:10%;
    left:5%;
    width: 90%;
    height: 65%;
   }
   .image img{width: 25vw;}
}
@media only screen and (max-width: 640px){
    body{
        background-image: url('images/bg-small.jpeg');
    }
    #main_container{background: #fff;
    border-radius: 5vh;
    opacity: 90%;
    width: 90vw;
    height: 90vh;
    margin-top: 5vh;
   }
   header{
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
   }
   article{
    position: relative;
    top:10%;
    left:5%;
    width: 90%;
    height: 80%;    
    overflow: scroll;
    -ms-overflow-style: auto;  
    scrollbar-width: 1vw;
}
article::-webkit-scrollbar{display: auto;}
    .slide{
    height: auto;
   }
   .page{
    height: auto;
    flex-direction: column-reverse;
   } 
   .page div {
    width: 90%;
    font-size: 2.0vh;    
    }
    .image img{
        width: 60vw;
    }
    li{
        font-size: 1.8vh;
      }
    .image{margin-top: 0;}
    #navbar{flex-wrap: wrap;}
    #navbar li{margin-left: 3vw;}
}